<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587305572709-ukrsubv31tbq9g8sfpdlra5efghv5mmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587305572709-ukrsubv31tbq9g8sfpdlra5efghv5mmr</string>
	<key>API_KEY</key>
	<string>AIzaSyBUAyhgOJzepSWU52NhTgjR7D5_Xi8GCa0</string>
	<key>GCM_SENDER_ID</key>
	<string>587305572709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dimaSD.Nearby</string>
	<key>PROJECT_ID</key>
	<string>nearby-b2722</string>
	<key>STORAGE_BUCKET</key>
	<string>nearby-b2722.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587305572709:ios:ad3d4cfad8831dc288298c</string>
</dict>
</plist>